#container { width: 296px; height: 184px; padding: 1px; border: 1px solid rgb(204, 204, 204); }
img { border-width: 0px; }
.thumnails img { width: 144px; height: 158px; }
.thumnails { float: left; width: 144px; height: 158px; border: 1px dotted rgb(187, 187, 187); margin: 1px 1px 4px; }
.rssthumb { padding: 5px; height: 158px; overflow: hidden; cursor: pointer; }
.rsstitle { font-size: 12px; font-weight: bold; font-style: italic; height: 30px; width: 135px; overflow: hidden; font-family: georgia,verdana,sans-serif; }
.rssdesc { padding: 7px 0px 3px; font-size: 11px; height: 90px; width: 135px; overflow: hidden; font-family: tahoma,verdana,lucida sans unicode; }
.readmore { width: 135px; padding-top: 5px; font-size: 11px; text-align: right; color: rgb(59, 89, 152); font-weight: bold; text-decoration: underline; font-family: tahoma,arial,lucida sans unicode; }
.share { width: 135px; margin-top: -15px; text-align: left; cursor: pointer; }
.btnFacebook { display: block; float: left; width: 16px; height: 16px; overflow: hidden; background: url('facebook-twitter.gif') no-repeat scroll 0px 0px rgb(255, 255, 255); opacity: 1; margin-right: 5px; }
.btnTwitter { display: block; float: left; width: 16px; height: 16px; overflow: hidden; background: url('facebook-twitter.gif') no-repeat scroll 0px -17px rgb(255, 255, 255); opacity: 1; }
#band { padding-left: 1px; padding-top: 4px; padding-bottom: 3px; }
